@import "tailwindcss";

@layer base {
    .formbtns-1 {
        width: auto;
        border-radius: 0;
        margin: 0 auto;
        padding: 5px 20px;
        font-weight: 500;
        transition: filter 0.3s ease-in-out;
    }
    .formbtns-2 {
        width: auto;
        border-radius: 0;
        margin: 0 auto;
        padding: 5px 20px;
        font-weight: 500;
    }
    .formbtns-1:hover {
        filter:invert(0.2);
    }
}