@import "tailwindcss";

@layer base {

    button {
        width: auto;
        border-radius: 0;
        margin: 0 auto;
        padding: 5px 20px;
    }

    section {
        margin-bottom: 100px;
    }

    .primary {
        background-color: #b8e6fe;
        border: 1px solid #b8e6fe;
        color: black;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .secondary {
        background: #00bcff;
        border: 1px solid transparent;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    }

    .primary:hover {
        background-color: transparent;
        color: #0069a8;
        border: 1px solid #b8e6fe;
    }

    .secondary:hover {
        background-color: #0069a8;
        color: white;
        border: 1px solid #0069a8;
    }

    .hero {
        /* dark translucent overlay + background image */
        background: linear-gradient(248deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("/books-1.png") center/cover no-repeat;
        min-height: auto;
        background-attachment: fixed;
    }

    .cards {
        width: 450px;
        height: 650px;
        min-height: auto;
        background-attachment: scroll;
        padding: 40px;
        position: relative;
    }
    .card_text{
        position: absolute;
    }

    .cards:nth-child(1) {
        background: linear-gradient(248deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("/f-1.png") center/cover no-repeat;

    }

    .cards:nth-child(2) {
        background: linear-gradient(248deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("/f-2.png") center/cover no-repeat;

    }

    .cards:nth-child(3) {
        background: linear-gradient(248deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("/f-3.png") center/cover no-repeat;

    }
    a{
        color: white;
        text-decoration: none;
        transition: text-decoration 0.3s ease-in-out;
    }
    a:hover{
        text-decoration: underline;
    }
    
    .txt-xl {
        font-size: 96px;
        line-height: 3ch;
    }

    .txt-lg {
        font-size: 68px;
        line-height: 2.25ch;
    }

    .txt-md {
        font-size: 48px;
        line-height: 2ch;
    }

    .txt-normal {
        font-size: 38px;
        line-height: 2ch;
    }

    .txt-sm {
        font-size: 20px;
        line-height: 1.5ch;
    }
    .txt-xs{
        font-size: 18px;
        line-height: 2ch;
    }

}